body {
  background-image: url("https://images.unsplash.com/photo-1617696618050-b0fef0c666af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmFkbWludG9ufGVufDB8fDB8fA%3D%3D&w=1000&q=80");
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.login-signup {
  width: 400px;
  margin-top: 8.5%;
  margin-left: 70%;
}

.tabs ul {
  display: flex;
  background: #fbfbfb;
  border: 1px solid #dddddd;
  margin: 0px;
}

.tabs ul li {
  width: 250px;
  padding: 15px;
  border-right: 1px solid #dddddd;
  text-align: center;
  color: #3b3b3b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.tabs ul:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: none;
}

.tabs ul:nth-child(1) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: none;
}

.tabs ul li:last-child {
  border-right: 0px;
}

.tabs ul li:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #028f68;
  opacity: 0;
  transition: all 0.2s ease;
}

.tabs ul li:hover,
.tabs ul li.active {
  background: #e8f5f1;
  color: #028f68;
}

.tabs ul li:hover:before,
.tabs ul li.active:before {
  opacity: 1;
}

.content {
  background: #fbfbfb;
  border: 1px solid #dddddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  left: 1px;
  bottom: 1px;
  padding: 10px 20px 20px 20px;
}

.tab_wrap .tab_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

/* Input field CSS */
.tab_wrap .tab_content .input-field {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 8px;
  --field-padding: 12px;
}

.tab_wrap .tab_content .input-field.one input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding: var(--field-padding);
  border: 2px solid #ddd;
  border-radius: 3px;
  width: 325px;
  transition: border-color 0.3s ease;
  outline: none;
}

.tab_wrap .tab_content .input-field.one input+.placeholder {
  position: absolute;
  left: 8px;
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  padding: 0 5px;
  color: #aaa;
  transition:
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.tab_wrap .tab_content .input-field.one input:not(:placeholder-shown),
.tab_wrap .tab_content .input-field.one input:focus {
  border-color: #028f68;
  transition-delay: 0.1s
}

.tab_wrap .tab_content .input-field.one input:not(:placeholder-shown)+.placeholder,
.tab_wrap .tab_content .input-field.one input:focus+.placeholder {
  top: 0;
  font-size: 10px;
  color: #028f68;
  background: #fff;
  width: auto
}


.remember-forgot-agree {
  padding: 12px;
  display: flex;
  flex-direction: row;
}

.remember-forgot-agree input[type='checkbox'] {
  margin-right: 5px;
}

.remember-forgot-agree a {
  margin-left: 100px;
  text-decoration: none;
}


/* Button CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #02a87a 9.16%, #028f68 43.89%, #029d72 64.72%);
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 45px;
  width: 325px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

/* Google Login/Signup Button */
.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  margin-top: 20px;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.login-with-google-btn:active {
  background-color: #eeeeee;
}

.login-with-google-btn:focus {
  outline: none;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}